/* app css stylesheet */

body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}
.form{
    float: left;
    width: 700px;
}
.form input{
    display: block;
}
.contain{
    float:left;
    width: 300px;
}
.heading ul{
    list-style: none;
}
.heading ul li{
    position: relative;
    display: inline-block;
    padding: 15px;
    width: 200px;
}
.heading ul .step02 img{
    position: absolute;
    border-radius: 50%;
}
.heading li .selected{
    background-color: #57a957;
}
input.cap {
    text-transform: capitalize;
}