<div class="holder">
    <div class="container">
        <div class="wrap">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">iForsikring Billig forsikring til Danmark</a>
            </div><!-- navbar-header -->
            <div class="collapse navbar-collapse">
                <ul class="steps-bar">
                    <li class="step01 active" ng-if="main_model.curr_step == 0">
                        <span>Selection</span>
                    </li>
                    <li class="step01" ng-if="main_model.curr_step != 0">
                        <span>Selection</span>
                    </li>
                    <li class="step02">
                        <span ng-if="main_model.selection.length == 1">Selected products</span>
                        <div class="rel_postiion" ng-repeat="selected in main_model.selection" ng-if="!$first && selected.title != 'personal' && selected.title != 'Selection'">
                            <div ng-if="$index == main_model.curr_step">
                                <a href="javascript: void(0)"><img src="{{selected.img}}" alt="" style="left:{{$index * 15}}px; z-index:1000" width="35" height="35"/></a>
                            </div>
                            <div ng-if="$index < main_model.curr_step">
                                <a href="javascript: void(0)" ng-click="change_step($index - main_model.curr_step)"><img src="{{selected.img}}" alt="" style="left:{{$index * 15}}px; z-index:{{900 + $index}}" width="30" height="30"/></a>
                            </div>
                            <div ng-if="$index > main_model.curr_step">
                                <a href="javascript: void(0)" ng-click="change_step($index - main_model.curr_step)"><img src="{{selected.img}}" alt="" style="left:{{$index * 15}}px; z-index:{{1000 - $index}}" width="30" height="30"/></a>
                            </div>
                        </div>
                    </li>
                    <li class="step03">
                        <span ng-if="main_model.selection[main_model.curr_step].title == 'personal'" class="selected">Personal</span>
                        <span ng-if="main_model.selection[main_model.curr_step].title != 'personal'">Personal</span>
                    </li>
                    <li class="step04">
                        <span ng-if="" class="selected">Receipt</span>
                        <span ng-if="main_model.curr_step <= main_model.selection.length">Receipt</span>
                    </li>
                </ul><!-- steps-bar -->
            </div><!-- collapse -->
        </div>
    </div><!-- container -->
</div><!-- holder -->
