<!-- Accident product template -->
Accident
<form name="product_accident" ng-model="product_accident" ng-controller="validationRules">
    
        <input type="text" name="ime" value="" ng-model="ime" class="cap"/>
        <span ng-show="product_accident.$error.ime">Ne</span>
        
        <input type="text" name="priimek" value="" ng-model="priimek"/>
        <span ng-show="product_accident.$error.priimek">Ne</span>
        
        <input type="text" name="rojstvo" placeholder="Name" value="" ng-model="rojstvo" validate="required"/>
        <div ng-if="product_accident.rojstvo.$error != null">
            <p ng-repeat="error in product_accident.rojstvo.$error">{{error}}</p>
        </div>
        
        <input id="kiki" type="text" name="naslov" placeholder="Email" value="" ng-model="naslov" validate="required, email" />
        <div ng-if="product_accident.naslov.$error != null">
            <p ng-repeat="error in product_accident.naslov.$error">{{error}}</p>
        </div>
        {{product_accident.rojstvo.$error}}
</form>

