<!-- Camp product template -->
Camp
<form name="product_camp" ng-model="product_camp" ng-controller="validationRules">

    <input type="text" name="naslov" placeholder="Email" value="" ng-model="naslov" validate="required" />
    <div ng-if="product_camp.naslov.$error != null">
        <p ng-repeat="error in product_camp.naslov.$error">{{error}}</p>
    </div>
    <br />
    validated: {{main_model.validated}}
    <br />
    validfrom: {{product_camp.$valid}}
    <br />
    pristing: {{product_camp.$pristine}}
    <br />
    dirty: {{product_camp.$dirty}}
</form>
