<!doctype html>
<html lang="en" ng-app="phonecatApp">
    <head>
        <title>Testing angular</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/form.css">
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="css/styles.css" media="all">

    </head>
    <body ng-controller="MainCtrl" ng-model="main_model">
        <div id="wrapper" class="wrapper-in">
            <div class="wrap1">
                <div class="wrap2">
                    <div class="container">
                        <div id="main" class="ie-fix">
                            <div class="steps-form">
                                <form action="#">
                                    <fieldset>
                                        <section class="section">
                                            <h2>Choose Your <strong>Insurance Type</strong></h2>
                                            <div class="choose-area">
                                                <div class="col">
                                                    <div ng-include src="'partials/selection.html'"></div>
                                                </div><!-- col -->
                                            </div><!-- choose-area -->
                                        </section><!-- section -->
                                        <div class="bottom-area clearfix">
                                            <a href="javascript: void(0)" class="btn btn-default" ng-click="change_step(1);
                                                pik();"><span>NEXT / CONTINUE</span></a>
                                            <a href="javascript: void(0)" class="btn btn-default back" ng-click="change_step(-1);"><span>GO BACK</span></a>
                                        </div><!-- bottom-area -->
                                    </fieldset>
                                </form>
                            </div><!-- steps-form -->
                            
                            <div class="steps-form" ng-view></div>
                            <img src="images/shadow-13.gif" width="282" height="234" alt="#" class="shadow-lt">
                            <img src="images/shadow-14.gif" width="273" height="234" alt="#" class="shadow-rt">
                            <img src="images/shadow-04.gif" width="273" height="228" alt="#" class="shadow-rb">
                            <img src="images/shadow-05.gif" width="282" height="228" alt="#" class="shadow-lb">
                        </div><!-- main -->
                    </div>
                </div><!-- wrap2 -->
            </div><!-- wrap1 -->
            {{main_model.curr_step}}
            <br />
            {{main_model.selection}}
        </div><!-- wrapper -->
        <header class="navbar navbar-in navbar-inverse" ng-include src="'partials/heading.html'"></header><!-- header -->
        <footer class="footer">
            <div class="container">
                <div class="frame">
                    <ul>
                        <li>2012 All Rights &amp; Copyrights reserved by <a class="by" href="#">iForsikring</a></li>
                        <li>
                            <ul class="social">
                                <li>Follow us on:</li>
                                <li><a href="#">facebook</a></li>
                                <li><a class="twitter" href="#">twitter</a></li>
                            </ul><!-- social -->
                        </li>
                        <li>Design by <a href="#">DrawingArt</a></li>
                    </ul>
                </div><!-- frame -->
            </div><!-- container -->
        </footer><!-- footer -->
        <!-- script includes -->
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/angular/angular-cookies.js"></script>
        <script src="lib/angular/ngStorage.js"></script>
        <script src="js/app.js"></script>
        <script src="lib/jquery/jquery-1.10.2.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/validation.js"></script>

    </body>
</html>
